.form-section 
{
    .form-row-contain
    {
        margin: 6% 0;
        .form-col-container
        {
            background-color: #f7f7f7;
            .blurb-news 
            {
                margin: 4% 0 7%;
            }
            .form-style
            {
                width: 80%;
            }
        }
    }

}