.section-ticker 
{
    background-color: #021a4e;
    .div-ticker 
    {
        > .ticker-col
        {
            color: #e4c800;
            text-align: center;
            margin: 70px auto;
            > * 
            {
                margin-bottom: 25px;
            }
            > h3 
            {
                font-size: 60px;
                font-weight: 700;
            }
            > h4 
            {
                font-size: 24px;
                font-weight: 600;
                padding: 0 47px;
            }
        }
    }
}