.button-animation:hover {
  background-color: #e4c800 !important;
  color: #021a4e !important;
}

.courses-div .blurb:hover {
  transform: scale(1.03);
  z-index: 9;
}

.events-section .blogs-styles .blurb-column-events:hover {
  transform: scale(1.03);
  z-index: 9;
}

a:hover {
  text-decoration: none;
}

.caret {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #e4c800;
}

.caret-up {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-top-width: 0;
  border-bottom: 4px solid;
  color: #e4c800;
}
