.button-animation:hover {
  background-color: #e4c800 !important;
  color: #021a4e !important;
}

.courses-div .blurb:hover {
  transform: scale(1.03);
  z-index: 9;
}

.events-section .blogs-styles .events-container-bg:hover {
  transform: scale(1.03);
  z-index: 9;
}

a:hover {
  text-decoration: none;
}

.caret {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #e4c800;
  margin-top: 8px;
}
@media (min-width: 1200px) {
  .caret {
    display: none;
  }
}

.caret-up {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  border-top-width: 0;
  border-bottom: 4px solid;
  color: #e4c800;
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .caret-up {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .footer-title-caret-container {
    display: flex;
    justify-content: center;
  }
}

.search-box-transition {
  background-color: white;
  transform: scale(0);
  width: 0;
  height: 0;
  transform-origin: 100% 50%;
  transition: transform 0.4s ease-in-out;
}

.search-box-transition-after {
  transform: scale(1.7);
}
