@import '../../bootstrap-4.5.0/scss/functions.scss';
@import '../../bootstrap-4.5.0/scss/variables.scss';
@import '../../bootstrap-4.5.0/scss/mixins';
@import 'variables.scss';

.button-animation {
    &:hover {
        background-color: $corn !important; 
        color: $greenVogueMain !important;
    }
}
.courses-div{
    .blurb {
        &:hover {
            transform: scale(1.03);
            z-index: 9;
        }   
    }
}

.events-section{
    .blogs-styles{
        .events-container-bg{
            &:hover {
                transform: scale(1.03);
                z-index: 9;
            }
        }
    }
}

a {
  &:hover{
      text-decoration: none;
  }
}

.caret{
    color: white;
    .fa-angle-up{
        transform: rotateX(180deg);
        transition: transform .4s ease;
    }
    @include media-breakpoint-up(xl){
        display: none;
    }
}
.caret-up{
    .fa-angle-up {
        transform: rotateX(0);
    }
    @include media-breakpoint-up(xl){
        display: none;
    }
}

.footer-title-caret-container{
    @include media-breakpoint-down(lg){
        display: flex;
        justify-content: center;
    }
}

.search-box-transition{
    position: absolute;
    transform: scale(0);
    width: 0;
    height: 0;
    transform-origin: 100% 0%;
    transition: all 0.6s ease-in-out;
    z-index: 9999;
    border-radius: 100%;
    background: white;
    left: 55rem;
    bottom: 90rem;
    @include media-breakpoint-down(lg){
        left: 38rem;
        bottom: 85rem;
    }
}
.search-box-transition-after{
    transform: scale(1.7);
    width: 100%;
    // width making search box and button flow to the right in mobile view
    height: 100%;
    left: 50rem;
    bottom: 27rem;
    overflow: hidden;
    @include media-breakpoint-down(lg){
        left: 13rem;
        bottom: 18rem;
    }
}