.button-animation:hover {
  background-color: #e4c800 !important;
  color: #021a4e !important; }

.courses-div .blurb:hover {
  transform: scale(1.03);
  z-index: 9; }

.events-section .blogs-styles .blurb-column-events:hover {
  transform: scale(1.03);
  z-index: 9; }

a:hover {
  text-decoration: none; }

.search-box-field {
  border: none;
  border-bottom: 1px solid #b6b6b6;
  margin: 0 1%;
  outline: none;
  width: 45%; }
