@import 'variables.scss';

// Events section start
.events-section 
{
    margin: 6% 0;
    .blurb-news
    {
        display: flex;
        justify-content: center;
        margin: 0 0 2% 0;
    }
    .blogs-styles
    {
        .blurb-column-events 
        {
            border: 1px solid #cecece;
            padding: 0;
            margin-right: 30px;
            box-shadow: 10px 9px 5px #9a98985e;
            transition: all .4s ease-in-out;
            .img-icon-container 
            {
                position: relative;
                > img 
                {
                    max-width: 100%;
                    width: 100%;
                }
                .icon-container
                {
                    // max-width: 100%;
                    // display: inline-block;
                    position: absolute;
                    right: 4%;
                    top: 4%;
                    color: $corn;
                    text-align: center;
                    .icon-text 
                    {
                        position: absolute;
                        color: $greenVogue;
                        top: 35%;
                        left: 25%;
                        h5
                        {
                            margin: 0;
                            font-weight: 800;
                        }
                        h6
                        {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
            }
            &:nth-child(2) 
            {
                .icon-container
                {
                    max-width: 100%;
                    display: inline-block;
                    position: absolute;
                    right: 4%;
                    top: 4%;
                    color: $corn;
                    text-align: center;
                    .icon-text 
                    {
                        position: absolute;
                        color: $greenVogue;
                        top: 35%;
                        left: 34%;
                        h5
                        {
                            margin: 0;
                            font-weight: 800;
                        }
                        h6
                        {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .events-blurbs-description 
            {
                color: $greenVogue;
                font-size: 14px !important; 
                position: relative;
                // display: inline-block;
                margin: 8% 4%;
                .v1 
                {
                    border-left: 2px solid #979797a3;
                    height: 19px;
                    position: absolute;
                    left: 46%;
                    top: 0%;
                }
                .events-blurb-description-time
                {
                    display: inline-block;
                    font-size: .9rem;
                } 
                .events-blurb-description-location 
                {
                    position: relative;
                    right: 20%;
                    font-size: .9rem;
                    display: inline-block;
                    left: 12%;

                }
                .events-description-title 
                {
                    h5 
                    {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
                .events-description-paragraph
                {
                    color: $eventsDescriptionParagraph;
                    font-size: 16px;
                }
            }
            .events-blurb-description-btn
                {
                    float: right;
                    border: none;
                    background: none;
                    text-transform: uppercase;
                    color: $greenVogue;
                    font-weight: 600;
                    font-size: 0.9rem;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: 3% 4%;
                }
        }
    }
}

// Events section End

// Media queries

@media (min-width: 576px){
        .events-section{
            .blogs-styles{
                flex-direction: column;
                .blurb-column-events{
                    margin-bottom: 7%;
                    .events-blurbs-description{
                        .events-blurb-description-location{
                            left: calc(30% + 5%);
                        }
                    }
                }
            }
        }
    }
@media (min-width: 992px){
    
        .events-section{
            .blogs-styles{
                flex-direction: unset;
                .blurb-column-events{
                    margin-bottom: 0;
                    .events-blurbs-description{
                        .events-blurb-description-location{
                            left: 12%;
                        }
                    }
                }
            }
        }
    }
