// primary footer section styles START
@import 'variables.scss';
.footer-section 
{
    padding: 4% 0;
    background-color: $greenVogueMain;
    .v-line-divider 
    {
        border-left: 1px solid #4d4d4d;

    }
    .footer-subtitles 
    {
        color: $corn;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        line-height: 2.6rem;
    }
    .footer-list 
    {
        list-style: none;
        padding-left: 0;
        > li 
        {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 14px;
            > a {
                color: #fff;
                &:hover{
                    color: #b6b6b6;
                }
            }
            &:hover{
                color: #b6b6b6;
            }
            
        }

    }
    .social-media-icon 
    {
        padding: 4px;
        > i {
            min-width: 1rem;
            font-size: 16px;
            text-align: center;
            
        }
        > a {
            color: #fff;
        }
    }
    .how-to-find-us 
    {
        ul 
        {
            > li 
            {
                line-height: 2.6em;
                color: #fff;
                > span 
                {
                    margin: 0 10px 0 15px;
                    > i 
                    {
                        min-width: 1rem;
                    }
                }
            }
        } 
    }
    .follow-us {
        > .follow-us-row {
            margin: 25px 0 40px 0;
            .social-media-follow-us {
                > a {
                    color: #fff;
                    &:hover{
                        color: #b6b6b6;
                    }
                }
            }
        }
    }
}
// primary footer section styles END

// secondary footer section styles START
.secondary-footer {
    background-color: #223663;
    color: #fff;
    .row {
        > * {
            font-size: .7rem;
            margin: 10px 0;
            line-height: 1.5;
        }
        > span {
            margin-right: 5px;
        }
    }
}
// secondary footer section styles END


// Media queries

@media (min-width: 576px) {
    .footer-section{
        .footer-row{
            flex-direction: column;
            text-align: center;
            .footer-list {
                > li {
                    font-size: 11px;
                }
            }
            .follow-us{
                > .follow-us-row {
                    justify-content: center;

                }
            }
        }
    }
}
@media (min-width: 768px){
    .footer-section{
        .footer-row{
            flex-direction: row;
            text-align: start;
            .footer-list{
                > li {
                        font-size: 11px;
                        > span {
                            margin: 0;
                        }
                }
            }
            .follow-us{
                > .follow-us-row {
                    justify-content: start;

                }
            }
            .tablet-footer-width{
                width: 100%;
            }
        }
    }
}
@media (min-width: 992px){
    .footer-section{
        .footer-row{
            .footer-list{
                > li {
                    font-size: 14px;
                    > span {
                        margin: 0 10px 0 15px;
                    }
                }
            }
            .tablet-footer-width{
                width: 0;
            }
        }
    }
}