@import '../bootstrap-4.5.0/scss/functions.scss';
@import '../bootstrap-4.5.0/scss/variables.scss';
@import '../bootstrap-4.5.0/scss/mixins';

// NAVBAR SECTION STYLES START
.navbar-styles {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 9999999;
    
    @include media-breakpoint-between(xs, md){
    }
    .navbar-brand-container{
        margin-left: 5.3rem;
    }
    .btn-menu-burger{
        @include media-breakpoint-between(xs, md){
            float: right;
            margin-left: 1rem;
        }
    }
    .search-box-container
    {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 12%;
        @include media-breakpoint-between(sm, md){
        }
        .social-media-icon-search
        {
            color: #b6b6b6;
            margin-left: 3%;
            padding: 3px;
            > i {
                min-width: 1rem;
                font-size: 20px;
                text-align: center;
            }
        }
        .search-box-field 
        {
            border: none;
            border-bottom: 1px solid #b6b6b6;
            margin: 0 1%;
            outline: none;
        }
    }
    .navbar-container {
        .logo-socials-row {
            @include media-breakpoint-between(sm, md){
            }
            .social-media-icons-col
            {
                @include media-breakpoint-between(sm, md){
                }
                .social-media-container
                {
                    @include media-breakpoint-between(sm, md){
                        
                        
                    }
                    .social-media-icon
                    {
                        color: white;
                        background-color: #b6b6b6;
                        padding: 3px;
                        > i {
                            min-width: 1rem;
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .container-nav-links {
            background-color: #021a4e;
            width: 100%;
            position: absolute;
            top: 100%;
            justify-content: center;
            display: inline-block;
            left: 0;
            @include media-breakpoint-between(sm, md){
                padding: 1rem 0;
            }
            .navbar-links
            {
                justify-content: center;
                .navbar-nav 
                {
                    .nav-item {
                        width: 100%;
                        text-align: center;
                        .nav-link 
                        {
                            text-transform: uppercase;
                            font-size: 14px;
                            text-align: center;
                            color: #fff;
                            width: 180px;
                           &:hover 
                           {
                               color: #b6b6b6;
                           }
                       }
                    }
                }
            }
        }
    }
}
// NAVBAR SECTION STYLES END
// .collapse.show .container-nav-links {
//     transform: translateX(43px);
// }
// .collapse .container-nav-links {
//     transition: transform .7s ease;
//     transform: translateX(96%);
// }

// .navbar-styles .search-box-container input::after {
//     content: "";
//     display: block;
//     border-bottom: 1px solid #b6b6b6;
//     transform: scaleX(0);
//     transition: transform 250ms ease-in-out;

// .search-box-field:hover::after {
//     /* transform: scaleX(1); */
//     transform-origin: 0% 50%;