@import '../bootstrap-4.5.0/scss/functions.scss';
@import '../bootstrap-4.5.0/scss/variables.scss';
@import '../bootstrap-4.5.0/scss/mixins';
@import 'variables.scss';

// News Section Styles Start
.news-programmes-container 
{
    margin: 55px auto;
    display: flex;
    padding: 0;
    .courses-div 
    {
        margin-top: 3%;
        margin-bottom: 3%;
        @include media-breakpoint-between(xs, md){
            flex-direction: column;
        }
        .col-first
        {
            margin-right: 3%;
            margin-bottom: 5%;
            .courses-row-first{
                margin-bottom: 3%;
            }
            .blurb 
            {
                width: fit-content;
                box-shadow: 10px 9px 10px #9a98985e;
                transition: all .4s ease-in-out;
                position: relative;
                overflow: hidden;
                @include media-breakpoint-between(xs, md){
                    width: 100%;
                }
                @include media-breakpoint-up(1024px){
                    width: 100%;
                }
                > img {
                    width: 100%;
                    height: 100%;
                }
                // > a 
                // {
                //     text-decoration: none;
                //     .section-news-images{
                //         @include media-breakpoint-between(xs, md){
                //             width: 100%;   
                //         }
                //         @include media-breakpoint-up(1024px){
                //             width: 100%;
                //         }
                //     }
                // }
            }
            .section-news-images-title 
            {
                background-color: #021a4ecc;
                color: white;
                width: 100%;
                font-size: 15px;
                font-weight: bold;
                font-family: OpenSans;
                text-transform: uppercase;
                text-align: center;
                height: fit-content;
                padding: 10px 0;
                position: absolute;
                top: 13.7rem;
                @include media-breakpoint-between(xs, md){
                    font-size: 12px;
                    top: 19.7rem;
                }
                @include media-breakpoint-only(md){
                    font-size: 13px;
                }
                @include media-breakpoint-only(lg){
                    top: 11rem;
                }
                .news-title 
                {
                    position: relative;
                    top: 25%;
                }
            }
        }
        .news-div 
        {
            height: fit-content;
            background-color: #f3f3f3;
            padding: 20px 15px;
            box-shadow: 10px 9px 10px #9a98985e;
            .news 
            {
                padding: 20px 0;
                position: relative;
                > .news-btn 
                {
                    float: right;
                    font-family: OpenSans;
                    font-size: 14px;
                    font-weight: bold;
                    color: $greenVogue;
                    background: none;
                    border: none;
                    &:hover{
                        color: #a7b0c2;
                    }
                }
                .news-date
                {
                    font-family: OpenSans;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.64;
                    letter-spacing: normal;
                    color: $greenVogue;
                }
                .news-title
                {
                    font-family: OpenSans;
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.4px;
                    color: $greenVogue;
                    &:hover{
                        color: #a7b0c2;
                    }
                }
                .news-content
                {
                    font-family: OpenSans;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.63;
                    letter-spacing: normal;
                    color: $eventsDescriptionParagraph;
                }
            }
        }
    }
}
.blurb-news
{
    .title-style 
    {
        font-family: OpenSans;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.9px;
        color: $greenVogue;
        display: inline-block;
        &:after 
        {
            content: "";
            border-bottom: 1px solid #271a4f;
            width: 100%;
            display: block;
        }
    }
}

// News Section Styles End