@import 'variables.scss';
// News Section Styles Start
.news-programmes-container 
{
    margin: 55px auto;
    display: flex;
    padding: 0;
    .courses-div 
    {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        .blurb 
        {
            margin-right: 24px;
            box-shadow: 10px 9px 10px #9a98985e;
            margin-bottom: 16px;
            position: relative;
            transition: all .4s ease-in-out;
            // transition: all .4s;
            > a 
            {
                text-decoration: none;
                > img {
                    width: 253px;
                    height: 253px;
                }
            }
        }
        .section-news-images-title 
        {
            position: absolute;
            background-color: #1123479e;
            color: white;
            width: 100%;
            height: 40px;
            font-size: 15px;
            font-weight: bold;
            font-family: OpenSans;
            text-transform: uppercase;
            text-align: center;
            bottom: 0%;
            margin: 0;
            .news-title 
            {
                position: relative;
                top: 25%;
            }
        }
    }
    
    .news-div 
    {
        height: fit-content;
        background-color: #f3f3f3;
        padding: 20px 15px;
        box-shadow: 10px 9px 10px #9a98985e;
        .news 
        {
            padding: 20px 0;
            position: relative;
            > button 
            {
                float: right;
                font-family: OpenSans;
                font-size: 14px;
                font-weight: bold;
                color: $greenVogue;
                background: none;
                border: none;
            }
            .news-date
            {
                font-family: OpenSans;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.64;
                letter-spacing: normal;
                color: $greenVogue;
            }
            .news-title
            {
                font-family: OpenSans;
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                color: $greenVogue;
            }
            .news-content
            {
                font-family: OpenSans;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.63;
                letter-spacing: normal;
                color: $eventsDescriptionParagraph;
            }
        }
    }
}
.blurb-news
        {
            .title-style 
            {
                font-family: none;
                text-transform: uppercase;
                font-size: 36px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.9px;
                color: $greenVogue;
                display: inline-block;
                &:after 
                {
                    content: "";
                    border-bottom: 1px solid #271a4f;
                    width: 100%;
                    display: block;
                }
            }
        }

// News Section Styles End

// Media Queries

@media (min-width: 576px){
    .news-programmes-container{
        display: flex;
        flex-direction: column;
        .courses-div{
            justify-content: center;
            .blurb 
            {
                > a {
                    > img {
                        width: 225px;
                        height: 210px;
                    }
                    .section-news-images-title {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .news-programmes-container{
        flex-direction: unset;
    }
}
