@import 'variables.scss';
.section-ticker 
{
    background-color: $greenVogueMain;
    .div-ticker 
    {
        > .ticker-col
        {
            color: $corn;
            text-align: center;
            margin: 70px auto;
            > * 
            {
                margin-bottom: 25px;
            }
            > h3 
            {
                font-size: 60px;
                font-weight: 700;
            }
            > h4 
            {
                font-size: 24px;
                font-weight: 600;
                padding: 0 47px;
            }
        }
    }
}

@media (min-width: 576px){
    .section-ticker{
        .div-ticker 
        {   
            flex-direction: column;
        }
    }
}

@media (min-width: 992px){
    .section-ticker{
        .div-ticker 
        {   
            flex-direction: row;
        }
    }
}